.rower-image {
  width: 300px; /* Adjust the width as per your preference */
  height: 300px; /* Adjust the height as per your preference */
  object-fit: cover; /* This property ensures the image covers the specified dimensions */
}

.rowingClub-image {
  width: 300px; /* Adjust the width as per your preference */
  height: 300px; /* Adjust the height as per your preference */
  object-fit: contain; /* This property ensures the entire image is visible within the specified dimensions */
  object-position: center;
}

