/* App.css */
.navbar {
  background-color: #025ab1;
  overflow: hidden;
  display: flex;
}

.nav-link,
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 14px 16px;
  margin-right: 10px;
}

.nav-link:hover,
.navbar a:hover {
  background-color: #004080;
  color: #fff; /* Add this line to set the text color on hover */
}

/* Adjustments for the active link */
.nav-link.active,
.navbar a.active {
  background-color: #003366;
  color: #fff; /* Add this line to set the text color for the active link */
}

/* Clear floats after the navbar */
.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.login-section button {
  background-color: #4CAF50; /* Previous green color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.login-section button:hover {
  background-color: #45a049; /* Darker green color on hover */
}